<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <title>Admin Fotos</title>
</head>
<body>
    <header>
        <h1>Administrador de Fotos</h1>
        <div th:replace="~{fragments/nav :: navbar}"></div>
    </header>
    <section>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>     </th>
            </tr>
        </thead>
        <tbody th:each="foto : ${data}">
            <tr th:replace="~{fragments/admin_row :: admin-row(${foto})}">
            </tr>
        </tbody>
    </table>
    </section>
</body>

</html>