<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <title>Listado</title>
</head>
<body>
    <header>
        <h1> Listado de Actividades </h1>
    </header>
    <section>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha Inicio</th>
                <th>Sector</th>
                <th>Nombre</th>
                <th>Tema</th>
                <th>Nota</th>
                <th> </th>
            </tr>
        </thead>
        <tbody th:each="act : ${data}">
            <tr th:replace="~{fragments/actividad_row :: actividad-row(${act})}">
            </tr>
        </tbody>
    </table>
    </section>
</body>

</html>